{{ stylesheet_link('css/global.css') }}	
{{ stylesheet_link('css/main.css') }}	
{{ javascript_include('js/jquery-1.11.0.min.js') }}
{{ javascript_include('js/jquery-validation/dist/jquery.validate.min.js') }}
{{ javascript_include('js/DD_belatedPNG.js') }}
{{ javascript_include('js/My97DatePicker/WdatePicker.js') }}
{{ javascript_include('js/jquery.circliful.js') }}
{{ javascript_include('js/highcharts/highcharts.js') }}
{{ javascript_include('js/highcharts/exporting.js') }}
{{ javascript_include('js/main.js') }}
<script>
		DD_belatedPNG.fix('*');
</script>